#################################################

### AWS Credentials

#################################################

# Set these to your AWS credentials

export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# export AWS_SESSION_TOKEN="" # Uncomment if using temporary credentials

#################################################

### Docker Configuration

#################################################

export DOCKER_IMAGE_NAME="sbn-cat"
export DOCKER_IMAGE_TAG="2026-02-11-001"

#################################################

### Terraform/OpenTofu Variables

#################################################

# Must be unique and descriptive for every infrastructure project.

export TF_VAR_PROJECT_PREFIX="sbn-cat-"
export TF_VAR_AWS_REGION="us-west-2"
export TF_VAR_VPC_CIDR="10.42.0.0/16"
export TF_VAR_PUBLIC_SUBNET_CIDRS='["10.42.1.0/24","10.42.2.0/24"]'

#################################################

### ECS/Fargate Task + Service

#################################################

export TF_VAR_CAT_ARCHITECTURE="x86_64"
export TF_VAR_ECS_TASK_CPU=512
export TF_VAR_ECS_TASK_MEMORY=1024
export TF_VAR_ECS_DESIRED_COUNT=1
export TF_VAR_ECS_HEALTHCHECK_GRACE_PERIOD_SECONDS=1800
export TF_VAR_ECS_LOGS_RETENTION_DAYS=14
export TF_VAR_CONTAINER_PORT=8000
export TF_VAR_HEALTHCHECK_PATH="/hello"
export TF_VAR_CAT_DEPLOYMENT="prod"

#################################################

### ECR Image Settings

#################################################

export TF_VAR_ECR_REPOSITORY_NAME="app"
export TF_VAR_ECR_IMAGE_SCAN_ON_PUSH=true
export TF_VAR_ECR_KEEP_IMAGE_COUNT=20
export TF_VAR_EFS_PERFORMANCE_MODE="generalPurpose"
export TF_VAR_EFS_THROUGHPUT_MODE="bursting"

# Keep this in sync with DOCKER_IMAGE_TAG.
export TF_VAR_DOCKER_IMAGE_TAG="${DOCKER_IMAGE_TAG}"

# Must be globally unique across all AWS accounts.
export TF_VAR_S3_BUCKET_NAME="sbn-cat-data"